{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}
    <div class="container my-4">
        <div align="right" style="color: green;">Logged in as {{ user.email }}</div>
        <h1 align="center">Mon compte</h1>
        <br />

        <form method="POST" enctype="multipart/form-data">
            <div style="max-width:600px; margin:auto;">
                <h3 align="center" style="margin-top:30px">Ajouter un produit</h3>
                <div class="form-group">
                    <label for="product-title">Titre de l'annonce</label>
                    <input type="text" class="form-control" id="product-title" name="product-title" required="true"/>
                </div>
                <br />

                <label for="product-category">Catégorie</label>
                <select class="form-select" aria-label="Default select example" name="product-category">
                    <option selected></option>
                    <option value="Jouets">Jouets</option>
                    <option value="Peluches">Peluches</option>
                    <option value="Vêtements">Vêtements</option>
                </select>

                <br />
                <div class="form-group">
                    <label for="product-description">Descriptif</label>
                    <textarea name="product-description" class="form-control" id="product-description" name="product-description" rows="8" style="resize:none;"/></textarea>
                </div>
                <br />
                <div class="form-group">
                    <label for="product-city">Code Postal</label>
                    <input type="text" class="form-control" id="product-city" name="product-city" required="true"/>
                </div>
                <br />

                <label class="form-label" for="customFile">Ajouter une photo</label>
                <input type="file" class="form-control" id="customFile" name="file"/>

                <br /><br />
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form> 

        <br />
        <ul class="list-group list-group-flush" id="products">
            {% for product in user.products %}
            <li class="list-group-item d-flex justify-content-between">{{ product.id }} {{ product.title }}
                <button type="button" class="btn-close" style="font-size:10px" aria-label="Close" onClick="deleteProduct({{ product.id }})"></button>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock%}