{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}
    <div class="container my-4">
        <div align="right" style="color: green;">Logged in as {{ user.email }}</div>
        <h1 align="center">Products</h1>

        <br />
        <div class="container overflow-hidden" id="products-grid">
            <div class="row row-cols-3 g-4 justify-content-center">
                {% for product in products %} 
                <div class="col" style="max-width:250px">
                    <div align="center" class="bg-dark rounded">
                        <img src="../static/img/logo3.png" alt="photo" height="130px">
                        <button type="button" class="btn-close btn-close-white pt-4" style="font-size:14px; position:absolute;" aria-label="Close" onClick="deleteProduct({{ product.id }})"></button>
                    </div>
                    <div class="py-2">
                        <div class="fw-bold"> {{ product.title }} </div> <!-- product.title -->
                        <span>{{ product.category }}</span><br />
                        <span>{{ product.city }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>

{% endblock%}